* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(255, 77, 148, 0.2);
  color: #4A4A4A;
  font-size: 16px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #FF4D94;
  animation: bg-color 10s linear infinite alternate;
}
.header h1 {
  padding: 0.75rem;
  border-top: 4px solid #4A4A4A;
  border-bottom: 4px solid #4A4A4A;
  font-size: 15vw;
  font-weight: bold;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-family: "Curlz MT", serif;
}
@keyframes bg-color {
  from {
  background-color: rgba(255, 77, 148, 0);
  }
  to {
    background-color: rgba(255, 77, 148, 1);
  }
}
.section {
  width: 80%;
  margin: auto;
}
.section p {
  font-size: 1.2rem;
  padding: 2rem;
  line-height: 1.4;
  font-family: Candara, sans-serif;
  clear: left;
}
p:first-letter {
  float: left;
  padding-right: 0.75rem;
  font-family: "Curlz MT", serif;
  font-size: 5rem;
  color: #FF4D94;
  line-height: 0.75;
}
